@media screen and (max-width: 945px) {
  html {
    overflow-x: hidden;
  }

  body {
    text-align: center;
    min-width: 10rem;
  }

  header {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }

  header .main-heading {
    margin-bottom: 2rem;
  }

  main#desktop-mode {
    display: none;
  }

  aside#active-in-mobile-view {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  aside#active-in-mobile-view ul div.upper-3 li {
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 4rem;
  }

  aside#active-in-mobile-view ul div.lower-3 {
    margin-top: 12rem;
  }

  aside#active-in-mobile-view ul div.lower-3 li {
    margin-bottom: 4rem;
    margin-left: 0;
    margin-right: 0;
  }

  aside#active-in-mobile-view ul li img {
    width: 8rem;
    object-fit: cover;
  }

  aside#active-in-mobile-view ul li .designation {
    position: absolute;
    top: 0;
    right: -1rem;
    writing-mode: vertical-lr;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 400;
    font-size: 0.65rem;
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
    text-transform: uppercase;
  }

  aside#active-in-mobile-view ul li p.name {
    padding: 0.5rem 0;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
  }
}
